@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #e1ecf2;
    height: 100vh;
    overflow: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

.center {
    width: 430px;
    margin: 130px auto;
    position: relative;
}

 /*   .center .header {
        font-size: 28px;
        font-weight: bold;
        color: white;
        padding: 25px 0 30px 25px;
        background: #EBF7F9;
        border-bottom: 1px solid #370e3f;
        border-radius: 5px 5px 0 0;
    }*/
    /*.center .header {
        display: flex;
        justify-content: center;*/ /* centers horizontally */
        /*align-items: center;*/ /* centers vertically */
        /*height: 300px;*/ /* adjust as needed */
        /*background: #EBF3FA;
        border-bottom: 1px solid #370e3f;
        border-radius: 5px 5px 0 0;
    }

        .center .header .logo {
            height: 300px;
            width: 350px;
            object-fit: contain;
        }

        .center .header .FormName {*/
            /*height: 300px;
            width: 350px;*/
            /*object-fit: contain;
            padding: 200px 0 30px 25px;
        }*/

    .center .header {
        display: flex;
        justify-content: center; /* centers horizontally */
        align-items: center; /* centers vertically */
        height:250px;
        background: #EBF3FA;
     /*   border-bottom: 1px solid #370e3f;*/
        border-radius: 5px 5px 0 0;
    }

        .center .header .logo-container {
            display: flex;
            flex-direction: column; /* stack image + text vertically */
            align-items: center; /* center horizontally */
        }

        .center .header .logo {
            height: 150px;
            width: 350px;
            object-fit: contain;
        }

        .center .header .logo-text {
            text-align: center;
            margin-top: 6px; /* space between image and text */
            font-size: 22px;
            color: #333;
        }
    .center form {
        position: absolute;
        background: #EBF3FA;
        width: 100%;
        padding: 10px 5px 0 30px;
        box-sizing: border-box;
        /*border: 1px solid #6d1c7d;*/
        border-radius: 0 0 5px 5px;
    }

form input {
    height: 50px;
    width: 90%;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid silver;
    font-size: 18px;
    outline: none;
}

    form input[type="password"] {
        margin-top: 20px;
    }

form i {
    position: absolute;
    font-size: 25px;
    color: grey;
    margin: 15px 0 0 -45px;
}

i.fa-lock {
    margin-top: 35px;
}

form input[type="submit"] {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 130px;
    height: 45px;
    color: white;
    cursor: pointer;
    line-height: 45px;
    border-radius: 45px;
    border-radius: 5px;
    background: dimgrey;
}

    form input[type="submit"]:hover {
        background: #491254;
        transition: .5s;
    }

form a {
    text-decoration: none;
    font-size: 18px;
    color: #7f2092;
    padding: 0 0 0 20px;
}

